<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Drawing Game</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col">
        </div>
        <div class="col">
          <p>WORD: {{word}}</p>
          <canvas id="gameBoard" width="700" height="400" style="border:1px solid #d3d3d3;">
        </div>
        <div class="col chat-col">
          <input type="text" placeholder="Enter guess here" spellcheck="true" @keyup.enter="sendmessage()" v-model="currentMessage">
          <div class="chat-history">
            <div v-for="msg in messages">
              <b>{{msg.id}}:</b><br>
              <p :style='{color:msg.color, "font-weight":msg.color==="green"?"bold":"null"}'>{{msg.msg}}
              <p>
                <hr>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-6-sm">
          <div class="row">
            <button v-for="color in colors" class="col color-box btn" :style="{background:color}" @click="setColor(color)">
              {{color}}
            </button>
          </div>
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>
  </div>
</body>
<script>
var app = new Vue({
  el: '#app',
  data: {
    id: null,
    colors: ['red', 'orange', 'yellow', 'lime', 'green', 'aqua', 'blue', 'purple', 'pink', 'saddlebrown', 'gray', 'white', 'black'],
    isDrawing: false,
    x: 0,
    y: 0,
    color: "black",
    canvas: null,
    ctx: null,
    connection: null,
    messages: [],
    currentMessage: "",
    word: "",
  },
  methods: {
    init() {
      this.id = localStorage.getItem("id") || Math.random().toString().replace("0.", "")
      localStorage.setItem("id", this.id)

      this.canvas = document.getElementById('gameBoard');
      this.ctx = this.canvas.getContext('2d');
      // Add the event listeners for mousedown, mousemove, and mouseup
      this.canvas.addEventListener('mousedown', e => {
        this.x = e.offsetX;
        this.y = e.offsetY;

        // You cannot draw if you are guessing
        if (!this.word.match('[a-zA-Z]')) {
          return;
        }

        this.isDrawing = true;
      });

      this.canvas.addEventListener('mousemove', e => {
        if (this.isDrawing === true) {
          this.drawLine(this.x, this.y, e.offsetX, e.offsetY, this.color);
          this.x = e.offsetX;
          this.y = e.offsetY;
        }
      });

      window.addEventListener('mouseup', e => {
        if (this.isDrawing === true) {
          this.drawLine(this.x, this.y, e.offsetX, e.offsetY, this.color);
          this.x = 0;
          this.y = 0;
          this.isDrawing = false;
        }
      });

      this.connect()
    },
    connect() {
      console.log("Starting connection to WebSocket Server")
      this.connection = new WebSocket("ws://localhost:8000")

      this.connection.onclose = function(event) {
        console.log('Socket is closed. Reconnect will be attempted in 1 second.', event.reason);
        setTimeout(function() {
          this.connect()
        }.bind(this), 1000);
      }.bind(this)

      this.connection.onmessage = function(event) {
        // console.log(event);
        const msg = JSON.parse(event.data)
        // console.log(msg)
        if (msg.type === "draw") {
          if (msg.shape === "line") {
            this.drawLine(msg.x1, msg.y1, msg.x2, msg.y2, msg.color, send = false)
          }
        } else if (msg.type === "msg") {
          this.displaymessage(msg.msg, msg.id)
        } else if (msg.type === "getwords") {
          // TODO allow user to pick their word
          this.word = msg.words[0]
          console.log(msg.drawer)
          if (msg.drawer === false) {
            console.log(this.word)
            //TODO get spaces to work and show up nicely
            this.word = this.word.replace(/[a-zA-Z0-9]/g, "_ ");
            console.log(this.word)
          }

          this.clearCanvas()
          this.displaymessage('New round started', 'Game', true)
        } else if (msg.type === "system") {
          if (msg.msg === 'correct') {
            this.displaymessage('CORRECT!!! You guessed the correct word', 'Game', true)
          }

          this.displaymessage('The word was guessed by another player. The correct word was: ' + msg.real_word, 'Game', true)
        }
        console.log(msg)
      }.bind(this)

      this.connection.onopen = function(event) {
        console.log(event)
        console.log("Successfully connected to the echo websocket server...")
        // this.send({
        //   type: "connected",
        // })
      }.bind(this)
    },
    send(val) {
      const copy = JSON.parse(JSON.stringify(val))
      copy.id = this.id
      this.connection.send(JSON.stringify(copy))
    },
    clearCanvas() {
      this.ctx.clearRect(0, 0, 1000, 1000);
    },
    drawLine(x1, y1, x2, y2, color, send = true) {
      this.ctx.beginPath();
      this.ctx.strokeStyle = color;
      this.ctx.lineWidth = 3;
      this.ctx.moveTo(x1, y1);
      this.ctx.lineTo(x2, y2);
      this.ctx.stroke();
      this.ctx.closePath();

      if (!send) return

      this.send({
        type: "draw",
        shape: "line",
        x1,
        y1,
        x2,
        y2,
        color,
      })
    },
    setColor(c) {
      this.color = c
    },
    sendmessage() {
      if (this.currentMessage === "") {
        return
      }
      this.send({
        type: "msg",
        msg: this.currentMessage,
        msgtype: this.word.match('[a-zA-Z]') ? 'chat' : 'guess',
      })
      this.displaymessage(this.currentMessage, this.id)
      this.currentMessage = ""
    },
    displaymessage(msg, id, system = false) {
      this.messages.unshift({
        msg,
        id,
        color: system ? 'green' : 'black',
      })
    }
  },
  mounted() {
    this.init()
  }
})
</script>

<style>
.color-box {
  border: 2px solid black;
  margin: .1rem;
  cursor: pointer;
}

.chat-history {
  overflow-y: scroll;
  height: 400px;
}
</style>

</html>
